logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
.idea
public/
typings/
build/
npm-debug.log
.cache-loader/
# Following line is added because something is generating 128 character empty hash files, git regex not fully supported in that regard so 128 ?'s
????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????
.vscode/*