<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{%=o.htmlWebpackPlugin.options.title || 'Ngel'%}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
    {% } %}

    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}

    {% for (var index in o.htmlWebpackPlugin.options.cdnResources.js) { %}
    <script src="{%=o.htmlWebpackPlugin.options.cdnResources.js[index] %}"></script>
    {% } %}
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
</head>

<body ng-app="{%=o.htmlWebpackPlugin.options.ngAppName || 'app' %}">
    <div class="ngel-layout">
        <header class="ngel-layout__header">
            <nav class="ngel-top-nav ngel-top-nav--fixed">
                <h2 class="ngel-top-nav__logo-link">
                    NGEL Sataq
                </h2>

                <ul class="ngel-top-nav__main-list"></ul>
            </nav>
        </header>

        <div class="ngel-layout__body">
            <div class="ngel-layout__main">
                <div class="ngel-layout__content">{%# o.htmlWebpackPlugin.options.mainContent %}</div>
            </div>
        </div>
    </div>
</body>
</html>
