.ngel-scatter-plot-container {
    position: relative;

    &--plot {
        width: 675px;
        height: 400px;
    }

    &--overlay {
        position: absolute;
        top: 40%;  // chartArea top
        right: 14%; // chartArea right
    }
}
