.ngel-scatter-plot-container {
    position: relative;

    &--plot {
        width: 675px;
        height: 400px;
    }

    &--overlay {
        position: absolute;
        top: 30%;  // chartArea top
        right: 13%; // chartArea right
    }
}
