<div class="ngel-drawer" ng-click="vm.closeOnDirectClick($event)" ng-class="{'ngel-drawer--open': vm.isOpen, 'ngel-drawer--actively-closed': vm.wasActivelyClosed()}">
    <div class="ngel-drawer__content" ng-class="{'ngel-drawer__content--open': vm.isOpen }">
        <div class="ngel-drawer__head">
            <span class="ngel-drawer__close ngel-icon ngel-icon--cancel ngel-icon--size-2x" ng-click="vm.closeSiteInfo()"></span>
            <h2>{{vm.station.name}}</h2>
        </div>
        <div class="ngel-drawer__body">
            <label class="ngel-label">NgelId: {{vm.station.ngelId}}</label>
            <label class="ngel-label">City: {{vm.station.city}}</label>
            <label class="ngel-label">Country: {{vm.station.country}}</label>
            <label class="ngel-label">Latitude: {{vm.station.latitude}}</label>
            <label class="ngel-label">Longitude: {{vm.station.longitude}}</label>

            <form class="ngel-form ngel-form--muted" ng-if="vm.validData">
                <fieldset class="ngel-fieldset ngel-fieldset--hugged">
                    <legend class="ngel-fieldset__legend">Select Dates</legend>
                    <div class="ngel-grid ngel-grid--fluid">
                        <div class="ngel-grid__row ngel-grid__row--padded">
                            <div class="ngel-grid__col--lg-1">
                                <label class="ngel-label" for="inline-start-date">
                                    Select Date Range
                                </label>
                            </div>
                            <div class="ngel-grid__col--lg-6">
                                <ngel-date-range-picker
                                    start-date="vm.startDate"
                                    end-date="vm.endDate"
                                    max-date="{{vm.maxOccurred}}"
                                    min-date="{{vm.minOccurred}}"
                                ></ngel-date-range-picker>
                            </div>
                            <div class="ngel-grid__col--lg-2 ngel-site-info-window__refresh">
                                <button
                                    type="button"
                                    class="ngel-button"
                                    ng-click="vm.refreshScatterPlot()"
                                >
                                    Refresh
                                </button>
                            </div>
                            <span class="ngel-site-info-window__error-msg">{{vm.errorMsg}}</span>
                        </div>
                    </div>
                </fieldset>
            </form>
            <ngel-scatter-plot></ngel-scatter-plot>
        </div>
    </div>
</div>
